/* App.module.css */
.card {
    background-color: #2d3748;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .cardImage {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .highlightBg {
    background-color: #1b2029;
  }
  .ratingText {
    display: flex;
    align-items: center;
  }
  
  .userRatingCount {
    margin-left: 0.5rem; /* Adjust the spacing as needed */
  }
  .starRating {
    display: flex;
    align-items: center;
  }
  
  .star {
    color: #FFD700; /* Gold color for filled stars */
    font-size: 1.5rem; /* Adjust the size as needed */
    margin-right: 0.1rem; /* Space between stars */
  }
  
  .starEmpty {
    color: #d3d3d3; /* Light gray color for empty stars */
    font-size: 1.5rem; /* Adjust the size as needed */
    margin-right: 0.1rem; /* Space between stars */
  }
  .bucketListItem {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .bucketListItem:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  .itineraryContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Adds space between items */
  }
  
  .itineraryItem {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    position: relative;
    color: black;
    height: 10rem;
    margin-bottom: 1rem;
  }
  
  .itineraryItemTitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .itineraryItemComponent {
    margin-bottom: 0.5rem;
  }
  
  .itineraryItemActions {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
  }
  
  .itineraryItemLink {
    color: #3b82f6; /* Tailwind's blue-500 */
  }